<section class="work" style="margin-top: 20px;">
  <% tag_team.each do |t| %>
    <div class="col-xs-12 col-md-3">
      <figure class="white">
      <a href="/teambuilding_choose/<%= t.id %>">
        <% if t.img_name != "" %>
          <img id="team_img" src="<%= t.img_name %>"/>
        <% else %>
          <img style="margin:5%;"src="<%= image_path "teamlist/14.png" %>" alt="" />
        <% end %>
        <dl>
          <dt><%= t.abstract %></dt>
          <dd><%= t.content %></dd>
          <br>
          <dd>팀장 : <%= User.find(t.leader).name %></dd>
          <dd>팀원 : <%= t.members.count %>명 / <%= t.number %>명</dd>
        </dl>
      </a>
      </figure>
    </div>
  <% end %>
</section>
