<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 card_margin" >
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="/img/participate.jpg" class="img-fluid" alt="">
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-block" style="text-align:center;">
            <!--Title-->
            <h3 class="card-title" style="text-weight:bold;"><strong>Team List</strong></h3>
            <!--Text-->
            <p class="card-text">전국의 멋사 학생들이 만든 팀을 살펴보세요!<br> 그리고 그들과 함께 세상을 바꿔나가세요!</p>
            <a href="#" class="btn btn-success" id="gotolist" style="align:center;"><strong>팀 목록</strong></a>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-6 col-xs-12 card_margin">
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="/img/puzzle.jpg" class="img-fluid" alt="">
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-block" style="text-align:center;">
            <!--Title-->
            <h3 class="card-title" style="text-weight:bold;"><strong>Team Create</strong></h3>
            <!--Text-->
            <p class="card-text">세상을 바꿀 나만의 아이디어를 팀으로 만들고,<br>전국에서 당신과 함께 꿈을 이뤄갈 사람들을 찾아보세요!</p>
            <a href="#" class="btn btn-primary" onclick="location.href='/teambuilding_create/create'"><strong>아이디어 올리기</strong></a>

          </div>
        </div>
      </div>



      <div class="container"  id="arrivelist">
        <div class="row">
          <div class="col-md-6 col-xs-12 card_margin" style="text-align:center;"><strong><h3 class="card-text">태그로 찾기</h3></strong><hr>
            <%= link_to "건강", teambuilding_list_tag_search_path(input: "건강"), class: "btn btn-default", remote: true %>
            <%= link_to "금융", teambuilding_list_tag_search_path(input: "금융"), class: "btn btn-default", remote: true %>
            <%= link_to "교육", teambuilding_list_tag_search_path(input: "교육"), class: "btn btn-default", remote: true %>
            <%= link_to "일상", teambuilding_list_tag_search_path(input: "일상"), class: "btn btn-default", remote: true %>
            <%= link_to "사회공헌", teambuilding_list_tag_search_path(input: "사회공헌"), class: "btn btn-default", remote: true %><br>
            <%= link_to "문화", teambuilding_list_tag_search_path(input: "문화"), class: "btn btn-default", remote: true %>
            <%= link_to "여행", teambuilding_list_tag_search_path(input: "여행"), class: "btn btn-default", remote: true %>
            <%= link_to "유통", teambuilding_list_tag_search_path(input: "유통"), class: "btn btn-default", remote: true %>
            <%= link_to "환경", teambuilding_list_tag_search_path(input: "환경"), class: "btn btn-default", remote: true %>
            <%= link_to "기타", teambuilding_list_tag_search_path(input: "기타"), class: "btn btn-default", remote: true %>
          </div>
          <div class="col-md-6 col-xs-12 card_margin" style="text-align:center;"><strong><h3 class="card-text">다른 방법으로 찾기</h3></strong><hr>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              시간별 분류
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
              <a class="dropdown-item" href="#">가장 최근에 만들어진 팀</a>
              <a class="dropdown-item" href="#">가장 나중에 만들어진 팀</a>
          </div>
        </div>
      </div>

      <!--<button class="btn-team-create btn btn-success" style="margin-left:-125px;" onclick="location.href='/teambuilding_create/create'">팀 만들기</button>-->
      <div id="list_box" class="container">
        <section class="work" style="margin-top: 20px;">
        <% @teams.each do |t| %>
          <div class="col-xs-12 col-md-3">
            <figure class="white">
            <a href="/teambuilding_choose/<%= t.id %>">
              <% if t.picture != nil %>
                <img style="margin:5%;"src=<%= image_path "teamlist/#{t.picture}" %> alt="" />
              <% else %>
                <img style="margin:5%" src=<%= image_path "teamlist/14.png" %> alt="" />
              <% end %>
              <dl>
                <dt><%= t.abstract %></dt>
                <dd><%= t.content %></dd>
                <br>
                <dd>팀장 : <%= User.find(t.leader).email %></dd>
                <dd>팀원 : <%= t.members.count %>명 / <%= t.number %>명</dd>
              </dl>
            </a>
            </figure>
          </div>
        <% end %>
        </section>
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function(){
    $('#gotolist').on('click',function (event) {
    event.preventDefault();
    var position = $("#arrivelist").offset();
    $('html, body').animate({scrollTop : position.top}, 1500);
    });


    $('#myDropdown').on('show.bs.dropdown', function () {
    // do something…
    })

    $('.dropdown-toggle').dropdown()

    });
  </script>
