<div class="container object">
  <section class="work">
    <% @teams.each do |t| %>
      <figure class="white">
      	<a href="">
      		<img src=<%= image_path "teamlist/#{t.picture}" %> alt="" />
      		<dl>
      			<dt><%= t.abstract %></dt>
      			<dd><%= t.content %></dd>
      			<% t.members.each do |u| %>
      			  <dd><%= u.email %></dd>
      			<% end %>
      			<br>
      			<dd>팀원 : <%= t.members.count %>명 / <%= t.number %>명</dd>
      		</dl>
      	</a>
      <div id="wrapper-part-info">
        <div class="part-info-image"><img src="<%= image_path "teamlist/icon-psd.svg" %>" alt="" width="28" height="28"/></div>
        <div id="part-info">Wordpress theme</div>
        <%= form_tag("/teambuilding_create/apply", method: "POST") do %>
          <input type="hidden" name="team_id" value="<%= t.id %>"/>
          <button type="submit">가입</button>
        <% end %>
      </div>
      </figure>
    <% end %>
  </section>
</div>