<!--Main layout-->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin: 30px 0 300px 0">
    <!--Main column-->
      <div class="col-md-8">
        <!--/.Card-->
        <% @allteam.each do |s| %>
          <div class="card">
            <!--Card content-->
            <div class="card-block">
              <p><strong>이름 : <%= s.name %></strong></p><hr>
              <p><%= s.abstract %></p><br>
              <p>설계자 : <%= s.leader %></p><br>
              <p>분류 : <%= s.tags %></p><br>
              <p>팀원 수 : <%= s.number %></p><br>
              <p>만들어진 시간 : <%= s.created_at %></p><br>
              <p>수정된 시간 : <%= s.updated_at %></p>
            </div>
          </div> <!-- end card-block -->
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="widget-wrapper">
            <h4><strong>관리자 페이지</strong></h4>
            <div class="list-group">
                <a href="/admin/index" class="list-group-item">세렝게티 현황</a>
                <a href="/admin/feedback" class="list-group-item">피드백 내용</a>
                <a href="#" class="list-group-item active">팀 현황</a>
                <a href="/admin/teambuild" class="list-group-item">팀빌딩 현황</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
