   
  <ul class="list-group">
    <li class="list-group-item"><strong>이름 :  <%= user.name %></strong></li>
    <li class="list-group-item"><strong>전공 : <%= user.major %></strong></li>
    <li class="list-group-item"><strong>취미 : <%= user.favor %></strong></li>
    <li class="list-group-item"><strong>관심사1 : <%= user.interest1 %></strong></li>
    <li class="list-group-item"><strong>관심사2 : <%= user.interest2 %></strong></li>
    <li class="list-group-item"><strong>관심사3 : <%= user.interest3 %></strong></li>
  </ul>
