<div class="container", style="margin-top:100px">
  <!--공지사항 카드 -->
  <div class="jumbotron">
    
      <!-- 공지 사항 -->
      <!-- title -->
      <div class="col-xs-10">
        <h2 class="h1-responsive"><%= @notice.title %></h2>
      </div>
      <!-- time -->
      <div class="col-xs-2">
         <i class="fa fa-clock-o"></i> <%= @notice.get_time %>
      </div>
      <div class="col-xs-12">
        <p class="lead"><%= simple_format(@notice.content) %></p>
        <hr class="m-y-2">
      </div>
  
      <div class="col-xs-12">
      <p class="lead">
          <a href="/notice/index"class="btn btn-primary btn-sm" role="button">목록으로</a>
          <% if user_signed_in? %>
            <% if current_user.admin? %> 
            <a href="/notice/update_view/<%= @notice.id %>"class="btn btn-primary btn-sm" role="button">수정하기</a>
            <a href="/notice/delete/<%= @notice.id %>"class="btn btn-primary btn-sm" role="button">삭제하기</a>
            <% end %>
          <% end %>  
      </p>
      </div>
  
    <!-- 댓글 표시 창 _replylist.html.erb에 적용할 경우 @notice.notice_replies =>notice_reply 으로 표현바꿔야 함-->
      <div id ="reply_place">
        <div  class="col-xs-12">
          <h2 class="heading">Comments <span class="label blue"><%= @notice.notice_replies.count %></span></h2>
          <hr>
        </div>
        <% @notice.notice_replies.each do |r| %>
          <hr>
          <div class="row">
            <div class="col-xs-10">
              <strong>
                <%= r.user.name %>
              </strong>
            </div>
            <div class="card-data col-xs-2">
              <i class="fa fa-clock-o"></i> <%= r.get_time %>
            </div>
                
            <div class="col-xs-12">
              <%= r.content %>
                <% if r.user.id == current_user.id || current_user.admin? %>
                  <%= link_to(notice_reply_delete_path(notice_reply_id: r.id, notice_id: params[:post_id] ), method: "post", remote: true) do %>
                    삭제
                  <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    
    
    <!-- 댓글 입력창 -->
    <% if user_signed_in? && !current_user.name.nil? %>
      <%= form_tag(notice_reply_write_path(notice_id: params[:post_id]), method: "post", remote: true) do %>
        <%= text_field_tag(:reply, nil, placeholder: "내용", class: "form-control") %>
        <button type="submit" class="btn btn-primary btn-sm reply_write">댓글달기</button>
      <% end %>
    <% end %>
        
  </div>
</div>