  <h2 class="heading">Comments <span class="label blue"><%= @team_post.count %></span></h2>
  <hr>
    <% @team_post.each do |p| %>
     <div class="row">
      <div class="col-md-12 replypost">
          <strong>
            <% if user_signed_in? %>
              <%= link_to(home_get_userinform_path(user_id: p.user.id), method: "post", remote: true) do %>
                <span class="userbtn"><i class="fa fa-comment"></i> <%= p.user.name %></span>
              <% end %>
            <% else %>
              <span><%= p.user.name %></span>
            <% end %>
          </strong>
          <i class="fa fa-clock-o"></i> <%= p.get_time %>
        <button type="button" class="rebtn btn-primary rereply" value="<%=p.id%>">답글</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 replypost_content">
        <%= p.team_post %>
        <% if user_signed_in? %>
          <% if p.user.id == current_user.id || current_user.admin? %>
            <a href="/teambuilding_choose/destroy/<%= p.id %>">[삭제]</a>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- 대댓글 입력 -->
    <div class = "row">
      <div class="col-xs-12 replyreply">
        <div id="demo<%=p.id%>" class="collapse">
          <%= form_tag(teambuilding_choose_replyreply_path(post_id: p.id), method: "post", remote: true) do %>
            <input type="text" class="form-control" name="reply_reply" id="rereply<%=p.id%>" placeholder="내용">
            <%= submit_tag("답글달기", class: "rebtn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <!-- 대댓글 입력 -->

    <!-- 대댓글 출력 -->
    <div class="rereply<%= p.id %>">
      <% p.team_post_replies.each do |s| %>
        <div class ="row">
          <div class="col-xs-11 replyreply">
            <strong>
              <% if user_signed_in? %>
                <%= link_to(home_get_userinform_path(user_id: s.user.id, p_id: p.id), method: "post", remote: true) do %>
                  <span class="userbtn"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<i class="fa fa-comments"></i> <%= s.user.name %></span>
                <% end %>
              <% else %>
                <span><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<i class="fa fa-comments"></i> <%= s.user.name %></span>
              <% end %>
            </strong>
            <i class="fa fa-clock-o"></i> <%= s.get_time %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11 replyreply_content">
            <%= s.team_post_reply %>
            <% if user_signed_in? %>
              <% if s.user.id == current_user.id || current_user.admin? %>
                <%= link_to "[삭제]", teambuilding_choose_destroyreply_path(id: s.id, post_id: p.id), method: "post"%>
              <% end %>
            <% end %>
            <hr>
          </div>
        </div>

    <% end %><!-- s에 대한 end -->
   </div>
<br>
<% end %><!-- p에 대한 end -->
