
<!-- 댓글 출력 창-->
<div id ="post_list">
  <div class="row">
    <h2 class="heading">Comments <span class="label blue"><%= teams.count %></span></h2>
  </div>
  <hr>
  <% teams.each do |p| %>
    <div class="row">
      <strong>
        <% if user_signed_in? %>
          <%= link_to(home_get_userinform_path(user_id: p.user.id), method: "post", remote: true) do %>
            <span class="userbtn"><i class="fa fa-comment"></i> <%= p.user.name %></span>
          <% end %>
        <% else %>
          <span><%= p.user.name %></span>
        <% end %>
      </strong>
      <i class="fa fa-clock-o"></i> <%= p.get_time %>
      <button type="button" class="rebtn btn-primary rereply" value="<%=p.id%>">답글</button>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <%= p.team_post %>
        <% if user_signed_in? %>
          <% if p.user.id == current_user.id || current_user.admin? %>
            <a href="/teambuilding_choose/destroy/<%= p.id %>">[삭제]</a>
          <% end %>
        <% end %>
      </div>
    </div>


   
  <!-- 대댓글 입력 -->
    <div class = "row">
      <div class="col-xs-12">
        <div id="demo<%=p.id%>" class="collapse">
          <%= form_tag(teambuilding_choose_replyreply_path(post_id: p.id), method: "post", remote: true) do %>
            <input type="text" class="form-control" name="reply_reply" id="rereply<%=p.id%>" placeholder="내용">
            <%= submit_tag("답글달기", class: "rebtn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <!-- 대댓글 입력 -->
  
<!-- 대댓글 출력 -->
  <div class="rereply<%= p.id %>">
    <% p.team_post_replies.each do |s| %>
    <div class ="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <strong>
          <% if user_signed_in? %>
            <%= link_to(home_get_userinform_path(user_id: s.user.id, p_id: p.id), method: "post", remote: true) do %>
              <span class="userbtn"><i class="fa fa-comments"></i> <%= s.user.name %></span>
            <% end %>
          <% else %>
            <span><i class="fa fa-comments"></i> <%= s.user.name %></span>
          <% end %> 
        </strong>
        <i class="fa fa-clock-o"></i> <%= s.get_time %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <%= s.team_post_reply %>
        <% if user_signed_in? %>
          <% if s.user.id == current_user.id || current_user.admin? %>
            <a href="#">[삭제]</a>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <hr>  
      </div>
    </div>
  
  <% end %>
  </div>
<!-- 대댓글 출력 -->
<% end %>
</div>
<!-- 댓글 창 -->
