<% teams.team_post_replies.each do |s| %>

<div class ="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <strong>
      <% if user_signed_in? %>
        <%= link_to(home_get_userinform_path(user_id: s.user.id), method: "post", remote: true) do %>
          <span class="userbtn"><i class="fa fa-comments"></i> <%= s.user.name %></span>
        <% end %>
      <% else %>
        <span><i class="fa fa-comments"></i> <%= s.user.name %></span>
      <% end %> 
    </strong>
    <i class="fa fa-clock-o"></i> <%= s.get_time %>
  </div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <%= s.team_post_reply %>
    <% if user_signed_in? %>
      <% if s.user.id == current_user.id || current_user.admin? %>
        <%= link_to "[삭제]", teambuilding_choose_destroyreply_path(id: s.id, post_id: s.team_post.id), method: "post"%>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <hr>  
  </div>
</div>

<% end %>