<div class="container">

  <!-- PORTFOLIO -->

  <div id="wrapper-container" style="margin-top: 120px;">

    <div class="container object">

      <div class="work">

        <div class="row">
          <figure class="white_teambuilding">
            
            <img src="<%= @each_team.picture %>" style="height:300px; width:300px;"/>
            
          <div class="wrapper-text-description side-info">

            <div class="wrapper-view" style="height:70px;">
              <h6 class="team_detail_label">Team Name</h6>
              <div class="text-view"><%= @each_team.name %></div>
            </div>

            <div class="wrapper-view" style="height:70px;">
              <h6 class="team_detail_label">Abstract</h6>
              <div class="text-view"><%= @each_team.abstract %></div>
            </div>

            <div class="wrapper-view" style="height:70px;">
              <h6 class="team_detail_label">Team Leader</h6>
              <div class="text-view"><%= User.find(@each_team.leader).name %></div>
            </div>       

            <div class="wrapper-view" style="height:70px;">
              <h6 class="team_detail_label">Number of member</h6>
              <div class="text-view"><%= @each_team.number %></div>
            </div>
            
            <div class="wrapper-view" style="height:70px;">
              <h6 style="margin-top:10px;">Tags</h6>
              <% for i in 0..2 %>
                <% unless @each_team.customTags[i].nil? %>
                  <div class="text-view"><%= @each_team.customTags[i] %></div>
                <% end %>
              <% end %>
            </div>
            
            <div class="wrapper-morefrom">
              <div class="image-morefrom">
                <a href="#"><div class="image-morefrom-1"><img src="/img/psd-1.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-2"><img src="/img/psd-2.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-3"><img src="/img/psd-3.jpg" alt="" width="430" height="330"/></div></a>
                <a href="#"><div class="image-morefrom-4"><img src="/img/psd-6.jpg" alt="" width="430" height="330"/></div></a>
              </div>
            </div>

            <% if @each_team.leader == current_user.id %>
              <button type="submit" class="btn btn-default input-submit" onclick="location.href='/teambuilding_create/update/<%= @each_team.id =%>'">수정</button>
              <button class="btn btn-danger-outline waves-effect btn-size input-submit" onclick="location.href='/teambuilding_create/delete/<%= @each_team.id %>'">삭제</button>
            <% else %>
              <%= form_tag("/teambuilding_create/apply/#{@each_team.id}", method: "POST") do %>
                <button class="btn btn-primary-outline waves-effect btn-size input-submit" type="submit">가입</button>
              <% end %>
            <% end %>
          </div> <!-- wrapper-text-description -->
        </div>
        <div class="row" >
          <div class="col-xs-12">
            <% if @each_team.content != nil %>
              <div class="team-content" class="md-textarea"><%= @each_team.content %></div>
            <% else %>
              <div class="team-content">팀에 대한 설명을 입력해 주세요.</div>
            <% end %>
          </div>
        </div>

        <div class="row" style="margin-top:15rem;>
          <div class="col-xs-12">
            <%= form_tag(teambuilding_choose_replypost_path(team_id: params[:id]), method: "post", remote: true) do %>
              <input type="text" class="form-control" id="reply_post" name="reply_post" placeholder="피드백, 질문하고싶은 점, 참여의사, 기타 다양한 의견들을 남겨주세요^^">
              <%= submit_tag("팀 리더에게 댓글달기", id:"reply_submit", class:"btn btn-primary-outline waves-effect" ) %>
            <% end %>
          </div>
        </div>

        <div class="post_list">
          <% @team_post.each do |p| %>
            <div class="post-reply">
              <a class="name-reply-post" href="/mypage/#" id="replypostemail"><%= p.user.name %></a>
              <div class="time-reply-post" id="replyposttime"><%= p.team_post %></div>
              <div class="text-reply-post" id="replypostcontent">
                <%= p.get_time %> &nbsp;
                <a href="/teambuilding_choose/destroy/<%= p.id %>">[삭제하기]</a> 
                <br/><br/>
                <%= form_tag(teambuilding_choose_replyreply_path(post_id: p.id), method: "post", remote: true) do %>
                  <input type="text" class="form-control" name="reply_reply" placeholder="답글달기!">
                  <%= submit_tag("댓글을 단 사람에게 댓글달기") %>
                <% end %>
              </div>

              <div class="reply_id">
              <% p.team_post_replies.each do |s| %>
                <div class="reply-reply-post">
                  <%= s.team_post_reply %> <br/><br/>
                  <%= s.user.name %> &nbsp; <%= s.get_time %> &nbsp;
                  <a href="#">[삭제하기]</a>  
                </div>
              <% end %>
            </div>
            </div>
          <% end %>
        </div>
      </div> <!-- work -->
    </div>
  </div>      
</div> <!-- container -->
