<main>
  <!--Main layout-->
  <div class="container" sytle="min-height:80vh;">
    <div class="row" style="margin-top:10vh;">

      <!--Main column-->
      <div class="col-md-8">

        <% if @myTeam.size == 0 %>
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-block">
              <p><strong>가입신청 현황</strong></p><hr>
              <p>가입신청이 없습니다.</p>
            </div>
          </div> <!-- end Card -->
        <% else %>
          <% @myTeam.each do |t| %>
            <a href="/teambuilding_choose/index/<%= t.id %>"><h3><%= t.name %></h3></a>
            <% if Teambuild.findWaitingTeambuild(t.id).size == 0 %>
              <!--/.Card-->
              <div class="card">
                <!--Card content-->
                <div class="card-block">
                  <div class="row">
                    <div class="col-md-5 col-sm-5" style="text-align:center;">
                      <p><strong>가입신청 현황</strong></p><hr>
                      <p>이 팀에 대한 가입신청이 없습니다.</p>
                    </div>
                    <div class="col-md-4 col-sm-4" style="text-align:center;">
                      <% if t.members.empty? %>
                        <p><strong>가입신청 현황</strong></p><hr>
                        <p>팀원으로 가입된 사람이 없습니다</p>
                      <% else %>
                        <p><strong>가입된 팀원</strong></p><hr>
                        <% t.members.each do |m| %>
                            <%= link_to(home_get_userinformwithphone_path(user_id: m.id), method: "post", remote: true) do %>
                              <div class="userbtn"><%= User.find(m.id).name %></div>
                            <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-3 col-sm-3" style="text-align:center;">
                      <p><strong>팀 한 줄 소개</strong></p><hr>
                      <p><%= t.abstract %></p>
                    </div>
                  </div> <!-- end row -->
                </div> <!-- end card-block -->
              </div> <!-- end card-->
            <% else %>
              <% Teambuild.findWaitingTeambuild(t.id).each do |r| %>
                <!-- Card -->
                <div class="card">
                  <!-- Card block -->
                  <div class="card-block">
                    <!-- Post-wrapper -->
                    <div class="post-wrapper">
                      <!--Post data-->
                      <div class="row">
                        <div class="col-md-6 col-sm-6" style="text-align:center;">
                          <strong>
                            <%= link_to(home_get_userinform_path(user_id: r.user_id), method: "post", remote: true) do %>
                              <div class="userbtn"><%= User.find(r.user_id).name %></div>
                            <% end %>
                          </strong>
                          <p>만들어진 날짜 : <%= r.created_at %></p>
                          <!--"Read more" button-->
                          <%= form_tag("/mypage/index/accept/#{r.id}", method: "GET") do %>
                            <button class="btn btn-primary" type="submit">함께해요 !!</button>
                          <% end %>
                          <%= form_tag("/mypage/index/deny/#{r.id}", method: "GET") do %>
                            <button class="btn btn-danger" type="submit">미안해요ㅠㅠ</button>
                          <% end %>
                        </div> <!-- end col -->

                        <div class="col-md-6 col-sm-6" style="text-align:center;">
                          <p><strong>팀 한 줄 소개</strong></p><hr>
                          <p style="text-align:center;"><%= Team.find(t.id).abstract %></p>
                        </div>
                      </div> <!-- end row -->
                      <br>
                    </div> <!-- end post-wrapper -->
                  </div>
                  <!-- card bloack -->
                </div>
                <!-- end Card -->
              <% end %> <!-- Teambuild ~ do -->
            <% end %>
            <hr>
          <% end %> <!-- MyTeam ~ do -->
        <% end %> <!-- if ~ else ~ end -->

      </div> <!-- end Main-column -->

      <!--Sidebar-->
      <div class="col-md-4">
        <div class="widget-wrapper">
          <h4><strong>MY PAGE</strong></h4>
          <div class="list-group">
            <a href="#" class="list-group-item active">As a Team Leader</a>
            <a href="/mypage/member" class="list-group-item">As a Team member</a>
            <a href="/mypage/myinfo" class="list-group-item">나의 정보</a>
          </div>
        </div>
        <br>

        <div class="widget-wrapper">
          <div class="card">
            <div class="card-block">
              <p><strong>여러분의 피드백과 의견을 말해주세요!</strong></p>
              <p>개선되었으면 하는 점, 추가했으면 하는 점 등을 <br>모두 말씀해주세요!
                 세렝게티는 항상 여러분의 <br>의견에 귀기울이고 있습니다.</p>
                <%= form_tag("/mypage/feedback", method: "POST") do%>
                    <div class="md-form">
                        <i class="fa fa-commenting-o"></i>
                        <textarea class="form-control" name="feedback" rows="5" id="comment"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">전송하기</button>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--/.Sidebar-->

      <!--Pagination-->
      <nav class="text-xs-center">
      <%= will_paginate @myTeam, renderer: BootstrapPagination::Rails  %>
      </nav>
      <!--/.Pagination-->
      <hr>
    </div>
  </div>
  <!--/.Main layout-->
</main>
