    <main>
        <!--Main layout-->
        <div class="container" style="margin-top:170px;">
            <div class="row">

                <!--Main column-->
                <div class="col-md-8">
                <% if @myTeam.size == 0 %>
                <p>가입신청이 없습니다.</p>
                <% else %>
                  <% @myTeam.each do |t| %>
                    <h3><%= t.name %></h3>
                    <% if Teambuild.findWaitingTeambuild(t.id).size == 0 %>
                      <p>이 팀에 대한 가입신청이 없습니다.</p>
                    <% else %>
                      <% Teambuild.findWaitingTeambuild(t.id).each do |r| %>
                        <!--Post-->
                        <div class="post-wrapper">
                            <!--Post data-->
                            <h5><%= User.find(r.user_id).name %></h5>
                            <p>Written at <%= r.created_at %></p>
                            
                            <!--"Read more" button-->
                          <%= form_tag("/mypage/index/accept/#{r.id}", method: "GET") do %>
                          <button class="btn btn-primary" type="submit">함께해요~</button>
                          <% end %>
                          <%= form_tag("/mypage/index/deny/#{r.id}", method: "GET") do %>
                          <button class="btn btn-danger" type="submit">미안해요~</button>
                          <% end %>
                          <br>
                        </div>
                      <% end %>
                    <% end %>
                    <hr>
                  <% end %>
                <% end %>
                  
                    <!--/.Post-->

                    <hr>

                    <!--Pagination-->
                    <nav class="text-xs-center">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--/.Pagination-->

                    <hr>

                </div>

                <!--Sidebar-->
                <div class="col-md-4">
                    <div class="widget-wrapper">
                        <h4><strong>MY PAGE</strong></h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">As a Team Leader</a>
                            <a href="/mypage/member" class="list-group-item">As a Team member</a>
                            <a href="/users/edit" class="list-group-item">나의 정보</a>
                        </div>
                    </div>
                <br>


                    <div class="widget-wrapper">
                        <div class="card">
                            <div class="card-block">
                                <p><strong>여러분의 피드백과 의견을 말해주세요!</strong></p>
                                <p>개선되었으면 하는 점, 추가했으면 하는 점 등을 <br>모두 말씀해주세요!
                                   세렝게티는 항상 여러분의 <br>의견에 귀기울이고 있습니다.</p>
                                <div class="md-form">
                                    <i class="fa fa-commenting-o"></i>
                                    <input type="text" id="form2" class="form-control" placeholder="">
                                    <label for="form2"></label>
                                </div>
                                <button class="btn btn-primary">전송하기</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->
            </div>
        </div>
        <!--/.Main layout-->
    </main>