<!DOCTYPE html>
<html>
  <head>
    <title>SERENGETI</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Template styles -->
    <link href="/css/style.css" rel="stylesheet">


  </head>
  <body style="margin-top:88px">

    <!--Navbar-->
    <nav id="index_nav" class="navbar navbar-dark navbar-fixed-top scrolling-navbar">
    <div class="container">
      <!--Navbar Brand-->
      <a class="navbar-brand" href="/home/index" target="_blank">SERENGETI</a>
      <!--Links-->
      <ul class="nav navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/notice/index">Board(Notice?)</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/teambuilding_list/index">Team Building</a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
          <a class="nav-link" href="/mypage/index">My Page</a>
          </li>
        <% end %>
      </ul>

      <!--Search form-->
      <!--<form class="form-inline">-->
        <!--    <input class="form-control" type="text" placeholder="Team Search">-->
        <!--</form>-->

    </div>

    <% unless user_signed_in? %>
      <%= link_to '로그인하기', new_user_session_path, class: "nav-link", style: "float:right; font-weight:bold; color:white;"  %>
    <% else %>
      <%= link_to '로그아웃', destroy_user_session_path, method: 'DELETE', style: "float:right; font-weight:bold; color:white;"  %>
      <%= link_to '회원정보 수정', edit_user_registration_path, class: "nav-link", style: "float:right; margin-right: 1.5vw; font-weight:bold; color:white;" %>
      <p class="nav-link" style="float:right; margin-bottom:0px; margin-right: 1.5vw; font-weight:bold; color:white;"> <%= current_user.email %></p>
    <% end %>

    <!--/.Navbar-->       
    </nav>
    <%= yield %>

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
  </body>

  <footer>
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container" style="margin-top:5rem;">
      © 2015 Copyright: <a href="http://www.serengeti.com"> serengeti.com </a> <br>
      Made By <strong>갓정건, 갓동욱, 갓현민, 갓현영, 갓동민, 갓경도 </strong> from SNU Likelion 4th <br>
      picture by National Geography
    </div>
  </div>
  <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</html>
